.Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

h1{font-size: 40px;}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor:pointer;
    margin-top: 20px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}
img{
    width: 600px;
    height: 380px;
}